*{
    margin: 0;
    padding: 0;
}


.color{
    background-color: aqua;
}

.color2{
    background-color: orange;
}

.color3{
    background-color: brown;
}


/* NAVBAR ---------------------------------------------------------- */

.navbar{
    background-color: #161616;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ul_navbar{
    display: flex;
    flex-direction: row;
    padding-right: 150px;
}

.li_navbar{
    list-style: none;
    padding-left: 6px;
    padding-right: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.texto_navbar{
    text-decoration: none;
    color: white;
}

.bolso_img{
    width: 24px;
    height: 28px;
}

/* DATAS ---------------------------------------------------------- */

.datas{
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;   
    justify-content: center;
}

.datas_item, .datas_item-ultimo{
    display: flex;   
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.datas_item{
    border-right: 1px solid #000;
}

.icono_datas{
    width: 50px;
    height: 50px;
}

.icono_datas-s{
    width: 40px;
    height: 40px;
}

.texto-datas{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
}

/* BANNER ---------------------------------------------------------- */

.banner_img{
    width: 100%;
}

/* PRODUCTOS ---------------------------------------------------------- */

.productos_titulo{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;

}

.texto_productos{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

.menu_productos{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

.producto{
    margin-left: 18px;
    margin-right: 18px;
    border-right:  1px solid rgba(39, 39, 39, 0.295);
    border-left:  1px solid rgba(39, 39, 39, 0.295);
    border-bottom:  1px solid rgba(39, 39, 39, 0.295);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.26);

}

.foto_producto{
    width: 250px;
    height: 350px;
}

.descripcion_producto{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto_producto{
    font-size: 16px;
    padding-top: 2px;
    font-family: 'Dosis', sans-serif;
}

.texto_precio-producto{
    font-size: 22px;
    padding-top: 2px;
    font-family: 'Open Sans', sans-serif;
}


/* FOOTER ---------------------------------------------------------- */

.footer{
    background-color: #161616;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.texto_seguinos-footer{
    font-size: 18px;
    padding-top: 2px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}


.img_redes{
    padding-top: 5px;
    width: 40px;
    height: 40px;
}


/* Seccion productos ---------------------------------------------------------- */





/* .btn_agregar{
    background-color: #4c56af; 
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;

} */